In [109]:
import pandas as pd

In [110]:
df = pd.read_csv('combined.csv')

In [111]:
df.head()

                Location  Beds  Price    Area  PricePerSqft
0  1st Stage Vijayanagar     2  120.0  1500.0      0.080000
1  1st Stage Vijayanagar     5   68.0  1900.0      0.035789
2  1st Stage Vijayanagar     5  250.0  2400.0      0.104167
3  1st Stage Vijayanagar     4   45.0  1200.0      0.037500
4  1st Stage Vijayanagar     4   25.0   600.0      0.041667

In [112]:
df['Location'].unique().size

106

In [113]:
df['Location'] = df['Location'].apply(lambda x : 'Hebbal' if('hebbal' in x.lower()) else x)

In [114]:
df['Location'] = df['Location'].apply(lambda x : 'Bannimantap' if('mantap' in x.lower()) else x)

In [115]:
df['Location'] = df['Location'].apply(lambda x : 'Dattagalli' if('datta' in x.lower()) else x)

In [116]:
df['Location'] = df['Location'].apply(lambda x : 'JP Nagar' if('p nagar' in x.lower()) else x)

In [117]:
df['Location'] = df['Location'].apply(lambda x : 'Gokulam' if('gokulam' in x.lower()) else x)

In [118]:
df['Location'] = df['Location'].apply(lambda x : 'Siddarthanagar' if('siddhartha' in x.lower()) else x)

In [119]:
df['Location'] = df['Location'].apply(lambda x : 'Srirampura' if('sriram' in x.lower()) else x)

In [120]:
df['Location'] = df['Location'].apply(lambda x : 'VV Mohalla' if(('v v' in x.lower()) or ('vani' in x.lower()) or ('vonti' in x.lower())) else x)

In [121]:
df['Location'] = df['Location'].apply(lambda x : 'Yelawala' if(('wala' in x.lower()) or ('vala' in x.lower()) )  else x)

In [122]:
df['Location'] = df['Location'].apply(lambda x : 'Vivekanada Nagar' if('ivekananda Nagar' in x.lower()) else x)

In [123]:
df['Location'] = df['Location'].apply(lambda x : 'BEML' if('beml' in x.lower()) else x)

In [124]:
df['Location'] = df['Location'].apply(lambda x : 'Bogadi' if('bogadi' in x.lower()) else x)

In [125]:
df['Location'] = df['Location'].apply(lambda x : 'Deepanagar' if('eepanagar' in x.lower()) else x)

In [126]:
df['Location'] = df['Location'].apply(lambda x : 'Jayalakshmipuram' if('ayalakshmipuram' in x.lower()) else x)

In [127]:
df['Location'] = df['Location'].apply(lambda x : 'Kesare' if('esare' in x.lower()) else x)

In [128]:
df['Location'] = df['Location'].apply(lambda x : 'Kuvempunagar' if('uvempunagar' in x.lower()) else x)

In [129]:
df['Location'] = df['Location'].apply(lambda x : 'Lakshmipuram' if(' Lakshmipuram' == x) else x)

In [130]:
df['Location'] = df['Location'].apply(lambda x : 'Ramakrishnanagar' if('amakrishnanagar' in x.lower()) else x)

In [131]:
df['Location'] = df['Location'].apply(lambda x : 'Vidyaranyapuram' if('aranya' in x.lower()) else x)

In [132]:
df['Location'] = df['Location'].apply(lambda x : 'Yadavagiri' if('adavagiri' in x.lower()) else x)

In [133]:
df['Location'] = df['Location'].apply(lambda x : 'Chamarajapuram' if('cham' in x.lower()) else x)

In [134]:
df['Location'] = df['Location'].apply(lambda x : 'Somanatha Nagar' if('omanatha nagar' in x.lower()) else x)

In [135]:
df['Location'] = df['Location'].apply(lambda x : 'Vijayanagar' if('vijay' in x.lower()) else x)

In [136]:
df['Location'].unique().size

65

In [141]:
## Remove the row Mysore to generalize the model

df = df[~(df['Location'] == 'Mysore')]

#### The Fucntion returns all the rows with the name of the location

In [137]:
def dflookup(location):
    try:
        return df[df['Location'] == location]
    except:
        print('No such location found')

In [144]:
df.to_csv('combined_cleaned.csv',index=False)