In [43]:
from bs4 import BeautifulSoup
from selenium import webdriver
import time
import pandas as pd
import regex

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as ec
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait

In [168]:
driver = webdriver.Chrome(r"C:\Users\mkart\OneDrive\Documents\Python\Mysore_Real_Estate_Price\chromedriver_win32\chromedriver.exe")
location_list = []
area_list = []
price_list = []
beds_list = []
driver.get('https://www.99acres.com/property-in-mysore-ffid?property_type=1,4,2,5')
time.sleep(5)
total_pages_element = driver.find_element_by_class_name('Pagination__srpPagination')
print(total_pages_element)
print(total_pages_element.text)
total_pages = total_pages_element.text
total_pages = total_pages.split('\n')[0]
total_pages = total_pages.split('of')[1]
n=21

driver.get(f'https://www.99acres.com/property-in-mysore-ffid-page-{n+1}?property_type=1,4,2,5')
time.sleep(4)
location = driver.find_elements_by_class_name('srpTuple__propertyName')
price = driver.find_elements_by_id('srp_tuple_price')
beds = driver.find_elements_by_id('srp_tuple_bedroom')
area = driver.find_elements_by_id('srp_tuple_primary_area')

if len(location) == len(price) == len(beds) == len(area):

    for i in range(len(price)):
        location_list.append(location[i].text)
        beds_list.append(beds[i].text)
        price_list.append(price[i].text)
        area_list.append(area[i].text)

<selenium.webdriver.remote.webelement.WebElement (session="fceb54ad1aaa311c5d393549bb414909", element="8f643edd-02bb-48c4-8a5f-f49e953892cf")>
Page 1 of 22
12345678910
Next Page >

In [170]:
data_dict = {}

In [171]:
data_dict['location'] = location_list

In [172]:
data_dict['beds'] = beds_list

In [173]:
data_dict['price'] = price_list

In [174]:
data_dict['area'] = area_list

In [175]:
df1 = pd.DataFrame(data_dict)

In [176]:
df1.head()

,location,beds,price,area
0,2 Bedroom Independent House in 2nd Stage BEML ...,2 BHK\n2 Baths,"₹ 80 Lac\n₹ 7,916/sq.ft.","1,200 sq.ft.\n(111 sq.m.) Plot Area"
1,2 BHK Residential Apartment in Vijayanagar,2 BHK\n2 Baths,"₹ 40 Lac\n₹ 3,810/sq.ft.","1,050 sq.ft.\n(98 sq.m.) Built-up Area"
2,1 Bedroom Independent House in 2nd Stage Vijay...,1 BHK\n1 Bath,"₹ 22.5 Lac\n₹ 5,806/sq.ft.",387 sq.ft.\n(36 sq.m.) Plot Area
3,5 Bedroom Independent House in Vijaya nagar,5 BHK\n3 Baths,"₹ 90 Lac\n₹ 3,750/sq.ft.","2,400 sq.ft.\n(223 sq.m.) Plot Area"
4,3 Bedroom Independent House in Vijaynagar,3 BHK\n4 Baths,"₹ 1.2 Cr\n₹ 3,716/sq.ft.","3,229 sq.ft.\n(300 sq.m.) Built-up Area"

In [166]:
#df.to_csv('data.csv',index=False)

In [177]:
frames = [df, df1]

In [179]:
data_combined = pd.concat(frames)

In [180]:
data_combined.shape

(559, 4)

In [181]:
df.shape

(545, 4)

In [184]:
data_combined.to_csv('data.csv',index=False)